<html lang="en">
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="style.css" />
  <body
    style="background-color: skyblue; display: flex; flex-direction: column"
  >
    <%- include('./partials/nav.ejs') %>
    <h2>Welcome, <%= name %>.</h2>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
